aiohappyeyeballs==2.7.1
aiohttp==3.14.1
aiosignal==1.4.0
annotated-types==0.7.0
anyio==4.13.0
argcomplete==3.6.3
attrs==26.1.0
av==18.0.0
beautifulsoup4==4.15.0
bitarray==3.8.2
blivet @ file:///builddir/build/BUILD/python-blivet-3.13.2-build/blivet-3.13.2
blivet-gui==2.6.0
boto3==1.43.44
botocore==1.43.44
Brlapi==0.8.7
certifi==2026.1.4
cffi==2.0.0
charset-normalizer==3.4.4
ckzg==2.1.7
click==8.4.2
cockpit @ file:///builddir/build/BUILD/cockpit-364-build/cockpit-364/tmp/wheel/cockpit-364-py3-none-any.whl#sha256=82c79404b2528627fced2a7ebf481b040ddae5fe359114bcfa0b986e85b0ed79
crypt_r==3.13.1
ctranslate2==4.8.1
cupshelpers==1.0
cytoolz==1.1.0
dasbus==1.7
dbus-python==1.4.0
dbus_next==0.2.3
defusedxml==0.7.1
distlib==0.4.0
distro==1.9.0
dnf==4.24.0
et_xmlfile==2.0.0
eth-account==0.13.7
eth-hash==0.8.0
eth-keyfile==0.8.1
eth-keys==0.7.0
eth-rlp==2.2.0
eth-typing==6.0.0
eth-utils==6.0.0
eth_abi==6.0.0b1
faster-whisper==1.2.1
fedora-third-party==0.10
file-magic==0.4.0
filelock==3.15.4
flatbuffers==25.12.19
frozenlist==1.8.0
fsspec==2026.6.0
gpg==2.0.0
h11==0.16.0
h2==4.3.0
hexbytes==1.3.1
hf-xet==1.5.1
hpack==4.2.0
html2text==2025.4.15
httpcore==1.0.9
httpx==0.28.1
huggingface_hub==1.23.0
humanize==4.15.0
hyperframe==6.1.0
idna==3.11
iniconfig==2.3.0
initial-setup==0.3.101
iso639==0.1.4
jmespath==1.0.1
langtable==0.0.71
libcomps==0.1.24
libdnf==0.75.0
libdnf5==5.4.2.1
louis==3.33.0
lxml==6.1.1
mat2==0.14.0
multidict==6.7.1
mutagen==1.47.0
nftables==0.1
numpy==2.5.1
odfpy==1.4.1
olefile==0.47
onnxruntime==1.27.0
openpyxl==3.1.5
packaging==25.0
pandas==3.0.3
parsimonious==0.10.0
perf==0.1
pexpect==4.9.0
pid==3.0.4
pillow==12.3.0
platformdirs==4.9.1
pluggy==1.6.0
ply==3.11
poly_eip712_structs==0.0.1
productmd==1.50
propcache==0.5.2
protobuf==7.35.1
psutil==7.2.2
ptyprocess==0.7.0
pwquality==1.4.5
py_builder_signing_sdk==0.0.2
py_clob_client==0.34.6
py_clob_client_v2==1.0.2
py_order_utils==0.3.2
PyAudio==0.2.13
pycairo==1.28.0
pycparser==2.22
pycryptodome==3.23.0
pycups==2.0.4
pydantic==2.13.4
pydantic_core==2.46.4
pyenchant==3.3.0
pygdbmi==0.11.0.0
Pygments==2.20.0
PyGObject==3.56.3
pyinotify==0.9.6
pykickstart @ file:///builddir/build/BUILD/pykickstart-3.69-build/pykickstart-3.69
pymupdf==1.28.0
pyparted==3.13.0
PySide6==6.11.1
PySocks==1.7.1
pytest==9.1.1
python-augeas==1.2.0
python-bugzilla==3.3.0
python-dateutil==2.9.0.post0
python-docx==1.2.0
python-dotenv==1.2.2
python-linux-procfs==0.7.4
python-meh==0.52
pyudev==0.24.4
pyunormalize==17.0.0
pyxdg==0.28
PyYAML==6.0.3
qrcode==8.2
RapidFuzz==3.14.3
regex==2026.5.9
requests==2.33.1
requests-file==3.0.0
requests-ftp==0.3.1
rlp==4.1.0
rpm==6.0.1
s3transfer==0.19.0
selinux @ file:///builddir/build/BUILD/libselinux-3.10-build/libselinux-3.10/src
sentry-sdk==2.48.0
sepolicy @ file:///builddir/build/BUILD/policycoreutils-3.10-build/selinux-3.10/python/sepolicy
setools==4.6.0
setroubleshoot @ file:///builddir/build/BUILD/setroubleshoot-3.3.36-build/setroubleshoot-3.3.36/src
setuptools==83.0.0
shiboken6==6.11.1
simpleaudio==1.0.4
simpleline==1.9.0
six==1.17.0
sos==4.11.2
soupsieve==2.8.3
stem==1.8.2
systemd-python==235
tokenizers==0.23.1
toolz==1.1.0
torbrowser-launcher==0.3.9
tqdm==4.68.4
types-requests==2.33.0.20260518
typing-inspection==0.4.2
typing_extensions==4.15.0
urllib3==2.7.0
virtualenv==20.35.4
web3==7.16.0
websockets==15.0.1
xkbregistry==0.3
yarl==1.24.2
yt-dlp==2026.7.4
